@import '../../assets/sass/_variables';
@import '../../assets/sass/_mixins';

$inputSelectors: "\
  input[type='text'], input[type='password'], input[type='tel'], input[type='number'], \
  input[type='search'], input[type='email'], select \
";

.lu-form-group {
  text-align:left;
  position:relative;

  &.lu-input-outline {
    border:2px solid transparent;
    border-radius:$defaultRadius;
  }

  &.lu-input-underline {
    border-top:2px solid transparent!important;
    border-left:2px solid transparent!important;
    border-right:2px solid transparent!important;
    border-bottom:2px solid transparent;
    border-radius:$defaultRadius $defaultRadius 0 0;

    label {
      margin-left:0;
    }
    #{$inputSelectors} {
      padding-left:0;
    }
  }

  &.lu-input-solo {
    border:2px solid transparent!important;
    border-radius:$defaultRadius;
  }

  label {
    position:absolute;
    z-index:2;
    line-height:1em;
    top:27px;
    height:26px;
    pointer-events:none;
    margin-left:$gutterWidth * 2;
    margin-top:-13px;
    transform: scale(1) translateY(0);
    transition: transform .2s, background-color 0.15s;
    transform-origin:0 0;
    backface-visibility: hidden;
    background-color:transparent;

    &.focus, &.persistent {
      transform: scale(0.75) translateY(-30px);
      background-color:#fff;
    }
  }
  #{$inputSelectors} {
    appearance:none;
    outline:none;
    background:none;
    position:relative;
    height:50px;
    width:100%;
    border:none;
    z-index:1;
    padding-left:$gutterWidth * 2;
    padding-top:$gutterWidth;
    font-size:map-get($fontSizes, 'subtitle');
  }

  .lu-select-list {
    list-style-type:none;
    position:absolute;
    top:calc(100% + #{$gutterWidth});
    background-color:#fff;
    z-index:5;
    width:100%;
    padding:0;
    margin:0;
    max-height:250px;
    overflow-y:auto;

    li {
      height:50px;
      line-height:50px;
      font-size:map-get($fontSizes, 'subtitle');
      cursor:pointer;

      &:hover {
        background-color: #efefef;
      }
    }
  }

  &.focus {
    .triangle {
      transform:rotate(180deg);
    }
  }
  .triangle {
    position:absolute;
    pointer-events:none;
    right:$gutterWidth * 3;
    z-index:3;
    top:15px;
    transition:transform .2s ease-in-out;
    fill:red;
  }

  .lu-error-list {
    position:absolute;
    bottom:100%;
    left:-2px;
    z-index:3;
  }
}
