@import '../../assets/sass/_variables';
@import '../../assets/sass/_mixins';

$inputSelectors: "\
  input[type='text'], input[type='password'], input[type='tel'], input[type='number'], \
  input[type='search'], input[type='email'], select \
";

.lu-form-group {
  text-align:left;
  position:relative;

  &.lu-input-outline {
    border:2px solid transparent;
    border-radius:$defaultRadius;
  }

  &.lu-input-underline {
    border-top:2px solid transparent!important;
    border-left:2px solid transparent!important;
    border-right:2px solid transparent!important;
    border-bottom:2px solid transparent;
    border-radius:$defaultRadius $defaultRadius 0 0;

    label {
      margin-left:0;
    }
    #{$inputSelectors} {
      padding-left:0;
    }
  }

  &.lu-input-solo {
    border:2px solid transparent!important;
    border-radius:$defaultRadius;
  }

  label {
    position:absolute;
    z-index:2;
    line-height:1em;
    top:27px;
    height:26px;
    pointer-events:none;
    margin-left:$gutterWidth * 2;
    margin-top:-13px;
    transform: scale(1) translateY(0);
    transition: transform .2s, background-color 0.15s;
    transform-origin:0 0;
    backface-visibility: hidden;
    background-color:transparent;

    &.focus, &.persistent {
      transform: scale(0.75) translateY(-30px);
      background-color:#fff;
    }
  }
  #{$inputSelectors} {
    appearance:none;
    outline:none;
    background:none;
    position:relative;
    height:50px;
    width:100%;
    border:none;
    z-index:1;
    padding-left:$gutterWidth * 2;
    font-size:map-get($fontSizes, 'subtitle');
  }
  select {
    text-indent: 5px;
    padding-left:$gutterWidth * 2;
    transition:height .2s ease-in-out, color .2s linear;
    overflow:hidden;

    option {
      padding:$gutterWidth * 3;
    }

    &[multiple="multiple"] {
      //padding-top:$gutterWidth * 3;
      padding-left:0;
      color:transparent;

      &:focus {
        height:200px;
        color:$black;
        overflow-y:auto;
      }
    }
  }

  &.focus {
    .triangle {
      transform:rotate(180deg);
    }
  }
  .triangle {
    position:absolute;
    right:$gutterWidth * 3;
    z-index:3;
    top:15px;
    transition:transform .2s ease-in-out;
    fill:red;
  }

  .lu-error-list {
    position:absolute;
    bottom:100%;
    left:-2px;
    z-index:3;
  }
}
