@import '../../assets/sass/_variables';
@import '../../assets/sass/_mixins';

button {
  appearance:none;
  box-shadow:none;
  outline:none;
  background:none;
  padding:0;
  display:block;
}

.lu-button {
  font-weight:700;
  color:$white;
  text-decoration:none;
  font-size:$baseFontSize;
  line-height:1em;
  vertical-align:middle;
  font-family:$defaultFont;
  height:$defaultInputHeight;
  min-height:$defaultInputHeight;
  border:2px solid transparent;
  border-radius:$defaultRadius;
  user-select: none;
  width:100%;
  cursor:pointer;

  &.small {
    max-width:150px;
  }

  &.large {
    max-width:300px;
  }

  &.fluid {
    max-width:100%;
  }

  &.disabled {
    opacity:0.7;
    pointer-events:none;
  }
}

a.lu-button {
  @include flexCenter();
  flex-basis:auto;
}