.theme-default-content:not(.custom) > h1,
.theme-default-content:not(.custom) > h2,
.theme-default-content:not(.custom) > h3,
.theme-default-content:not(.custom) > h4,
.theme-default-content:not(.custom) > h5,
.theme-default-content:not(.custom) > h6 {
  margin-top:0;
  padding-top:60px;
}
