@import '../_variables.scss';

// TODO FIX SPECIFICITY TO AVOID USING IMPORTANT
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value!important;
  }
  .text-#{$key} {
    color: $value!important;
  }
  .border-#{$key} {
    border-color: $value!important;
  }
  .fill-#{$key} {
    fill: $value!important;
  }
}
// TODO FIX SPECIFICITY TO AVOID USING IMPORTANT
