@import './_variables';

//////////////////////
// POSITIONING
//////////////////////

@mixin flexCenter() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin small {
  @media screen and (min-width: #{nth($breakpoints, 1)}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{nth($breakpoints, 2)}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{nth($breakpoints, 3)}) {
    @content;
  }
}

@mixin xLarge {
  @media screen and (min-width: #{nth($breakpoints, 4)}) {
    @content;
  }
}

@mixin createGridStyles($modifier) {
  @for $i from 1 through 12 {
    .#{$modifier}-#{$i} {
      flex: 0 0 #{$i / 12 * 100%};
      max-width:#{$i / 12 * 100%};
      min-width:#{$i / 12 * 100%};
    }
  }
}

@mixin elevation($z) {
  box-shadow: map-get($shadow-key-umbra, $z),
  map-get($shadow-key-penumbra, $z),
  map-get($shadow-key-ambient, $z);
}
