//////////////////////
// COLORS
//////////////////////

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$blue-grey: #607D8B;
$grey: #9E9E9E;
$black: #000;
$white: #FFF;
$colors: (
  red: $red,
  pink: $pink,
  purple: $purple,
  deep-purple: $deep-purple,
  indigo: $indigo,
  blue: $blue,
  light-blue: $light-blue,
  cyan: $cyan,
  teal: $teal,
  green: $green,
  light-green: $light-green,
  lime: $lime,
  amber: $amber,
  orange: $orange,
  deep-orange: $deep-orange,
  brown: $brown,
  blue-grey: $blue-grey,
  grey: $grey,
  black: $black,
  white: $white
);

//////////////////////
// TYPOGRAPHY
//////////////////////

$base: 16px;
$subheading: 1.5em;
$heading: 2em;
$display: 3em;

$defaultFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

///////////////////////////
// SHAPE/SIZE CONSTANTS
///////////////////////////

$defaultRadius: 5px;
$doubleRadius: 10px;

$defaultInputHeight: 35px;