@import './modules/grid';
@import './modules/colors';
@import './modules/spacing';
@import './modules/elevation';
@import './modules/borders';
@import './modules/transitions';

* {
  box-sizing: border-box;
  position:relative;
}

html, body {
  font-size:$baseFontSize;
}